/** METROPOLIS **/

@font-face {
    font-family: 'mentropolis_medium';
    src: url('Metropolis-Medium.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'mentropolis_regular';
    src: url('Metropolis-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
